{% extends "base.html" %}
{% load static %}

{% block title %}Stack Evolve Team - Software Development Group and Resources{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'index.css' %}" />

{% endblock %}

{% block content %}
<nav id="nav">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'about' %}">About</a>
  <a href="{% url 'learn' %}">Research and Publications</a>
  <a href="{% url 'ask' %}">Ask A Question and Find Answers</a>
  <a href="{% url 'software' %}">Software Downloads</a>
</nav>

<pre id="cat">
       \`*-.
        )  _`-.
       .  : `. .
       : _   '  \
       ; *` _.   `*-._
       `-.-'          `-.
         ;       `       `.
         :.       .        \
         . \  .   :   .-'   .
         '  `+.;  ;  '      :
         :  '  |    ;       ;-.
         ; '   : :`-:     _.`* ;
       .*' /  .*' ; .*`- +'  `*'
 [bug] `*-*   `*-*  `*-*'
<div>
<canvas id="canvas1"><p>This is a test!</p></canvas>
<script src="{% static 'particles.js' %}"></script>
<h1 style="">Stack Evolve</h1>
<h2>Software Development Group</h2>
<p>We solve problems and provide answers to questions related to software development and security.</p>
<p>More coming soon!</p>
</div>
</pre>
{% endblock %}
