{% extends "base.html" %}

{% block title %}Stack Evolve Team - Software Development Group and Resources{% endblock %}

{% block content %}

<pre>
       \`*-.
        )  _`-.
       .  : `. .
       : _   '  \
       ; *` _.   `*-._
       `-.-'          `-.
         ;       `       `.
         :.       .        \
         . \  .   :   .-'   .
         '  `+.;  ;  '      :
         :  '  |    ;       ;-.
         ; '   : :`-:     _.`* ;
       .*' /  .*' ; .*`- +'  `*'
 [bug] `*-*   `*-*  `*-*'

</pre>
<div style="text-align: center;">
<h1 style="">Stack Evolve</h1>
<h2>Software Development Group</h2>
<p style="text-style: bold; padding: 3em; ">We solve problems and provide answers to questions related to software development and security.</p>
<p style="">More coming soon!</p>
</div>
{% endblock %}
