{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    {% block header %}{%endblock%}
</head>
<body>
  <nav class="nav">
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'learn' %}">Research and Publications</a>
    <a href="{% url 'ask' %}">Ask A Question and Find Answers</a>
    <a href="{% url 'software' %}">Software Downloads</a>
  </nav>

<img id="logo" src="{% static 'stackevolve_logo.png' %}" />


    {% block sidebar %}{% endblock %}

    {% block content %}{% endblock %}
</body>
</html>
