{% extends base.html %}

<p id="about_main">Welcome, we are a group of enthusiastic software developers.
  Feel free to chat with us on Discord, ask us software related questions,
  have fun reading our research publications and tutorials, or use and contribute
  our cutting edge software utilities</p>

<div id="about contact"><h1>Contact Us</h2></br><ul>
  <li>Chat with us on Discord</li>
  <li>Send us an email at info@stackevolve.com</li>
  <li>Or ask us a general software question
    in our Questions and Anwsers section.</li><ul></div>
